.homesec {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #161212;
    // width: 100%;
  }
  .secc{
    display: flex;
    justify-content: center;

  }

  
  .heading {
    color: #ffff;
    font-size: 18px;
  }
  
  .home_1 {
    color: #ffff;
    font-size: 28px;
  }
  
  .home_2 {
    color: #ffff;
  }
  
  .home_3 {
    font-size: 16px;
    color: #ffff;
  }
  
  .home_4 {
  padding-left: 0px !important;
    display: flex;
  }
  
  .home_5 {
    list-style: none;
  }
  
  .home_6 {
    list-style: none;
    padding-left: 10px;
  }
  
  .home_7 {
    border: none;
    outline: none;
    background: cyan;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
    font-size: 14px;
  }
  
  .headsectionanim {
    animation: slideInLeft 2s forwards ease-in-out;
    opacity: 0;
    width: 50%;
    /* animation-delay: 0.5s; */
  }
  /* .allsec{
    padding-top: 50px;
  } */
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .home_img {
    border: 1px black;
    background: #ffff;
    /* box-shadow: 2px 2px 2px 2px; */
    border-radius: 20px;
    box-shadow: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_img {
    animation: slideRight forwards 2s ease-in-out;
    animation-delay: 0.5s;
    width: 50%;
  }
  @keyframes slideRight {
    0% {
      transform:  translateX(50%);
      opacity: 0;
    }
    100% {
      transform:  translateX(0%);
      opacity: 1;
    }
  }
  .img_wii{
    width: 100%;
  }
  
  @media screen and (max-width : 768px) {
    .secc{
      display: block;
      width: 100%;
    }
    .home_img{
      width: 100%;
      margin-top: 20px;
    }
    .headsectionanim{
      width: 100%;
    }
  }