.projects1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  // width: 100%;
  background: #161212;
}
.sectt{
  display: flex;
  justify-content: center
}

.projects2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects3 {
  // color: #ffff;
}
.projects4 {
  box-shadow: 4px 4px 8px 1px #d6d5d2;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  background: #ffff;
  width: 50%;
}
.projects5 {
  // color: #ffff;
  text-decoration: underline;
}
.projects6 {
  // color: #ffff;
  list-style: none;
}

.projects7 {
  text-decoration: underline;
  color: #000;
  font-size: 16px;
}
.projects8 {
  animation: slideRightToCenter forwards 2s ease-in-out;
  animation-delay: 0.5s;
}
@keyframes slideRightToCenter {
  0% {
    transform: translate3d();
    opacity: 0;
  }
  100% {
    transform: translate3d(0%);
    opacity: 1;
  }
}
@media screen and (max-width : 768px){
  .projects1{
    padding: 10px;
  }
  .sectt{
    display: block;
  }
  .projects4{
    width: 80%;
  }
}