.skills1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 40px;
  background: #161212;
}

.skills2 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideTop backwards 2s ease-in-out;
  animation-delay: 0.5s;
}
.sectt{
  display: flex;
  justify-content: space-between;
  // align-items: center;
}
@keyframes slideTop {
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.skills3 {
  color: #ffff;
}
.skills4 {
  box-shadow: 4px 4px 8px 1px #d6d5d2;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  background: #ffff;
  width: 100%;
}
.skills5 {
  // color: #ffff;
  // font-size: 20px;/
  text-decoration: underline;
}
.skills6 {
  // color: #ffff;
  list-style: none;
}
.skills8 {
    animation: slideRightToCenters forwards 2s ease-in-out;
    animation-delay: 0.5s;
}

@keyframes slideRightToCenters {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.skills9 {
    animation: slideLeftToCenter forwards 2s ease-in-out;
    animation-delay: 0.5s;
}

@keyframes slideLeftToCenter {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
  .sectt{
    display: block;
  }
  .skills1{
    padding: 10px;
  }
  .skills4{
    width:80%;
  }
}
